{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy Department %}

{% block content %}
<div class="text-center">
<h3>Add new Department</h3>

<form action="/adddepartment/" method="post">{% csrf_token %}

{{ form|crispy }}
<br />
<input class="btn btn-primary" type="submit" name="submit" value="Submit">


</form>
<br />
{% for department in department %}

<table border="1" class="text-center typetable">

    <tr>
        <td style="width: 200px"> {{ department.department }}</td>

    </tr>

</table>

{% endfor %}

</div>


{% endblock %}
