{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">Equipment List</h3>
<hr>
<br />
<table id="equipmenttable">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>Name</th>
            <th class="hidecolumn">Type</th>
            <th class="hidecolumn">VIN</th>
            <th class="hidecolumn">Tag</th>
            <th class="hidecolumn">Driver</th>
        </tr>
    </thead>
    <tbody>
    {% for equipment in equipment %}
        <tr>
            <td> <strong><a href="/details/{{ equipment.id }}/"><span class="glyphicon glyphicon-search"></span> </a></strong></td>
            <td> {{ equipment.number }}</td>
            <td> {{ equipment.name }}</td>
            <td class="hidecolumn"> {{ equipment.type }}</td>
            <td class="hidecolumn"> {{ equipment.vin }} </td>
            <td class="hidecolumn"> {{ equipment.tag }} </td>
            <td class="hidecolumn"> {{ equipment.driver }} </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}