html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: gray;
    overflow-y: scroll;
    font-family: 'Ubuntu', sans-serif;
}

/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    .hidecolumn {
        display: none;
    }
    textarea {
        max-width: 100%;
}

}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-width: 1px 0px;
    border-color: #666 transparent #ccc transparent;
}

.container {
    background: white;
    box-shadow: 10px 10px 5px black;
    border-radius: 5px;
    padding-bottom: 50px;
    margin-top: 60px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.navbar li {
    display:inline;
    list-style-type: none;
    text-decoration:none;
}

#equipmenttable, .servicetable, .servicedetailtable, .reportstable, .driverstable {
    display: none;
}

.tablepad {
    padding: 20px;
}

.servicetable, #equipmenttable, .driverstable {
    margin-bottom: 15px;
}

.servicetable, #equipmenttable, .driverstable th {
    font-size: 1.1em;
    text-align:left;
}

.servicetable {
    white-space: nowrap;
}

.driverscontainer {
    width: 40%;
    padding: 40px;
    margin-left: 50px;
    float:left;
    border: 2px solid black;
    border-radius: 5px;
}

.adddrivercontainer {
    width: 40%;
    padding: 40px;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 5px;
}


.servicetable, #equipmenttable, .driverstable  td{
    font-size: 1em;
    text-align:left;
    border: 2px solid black;
    white-space: nowrap;
}


.typetable {
    margin: 0 auto;
}
.tables {
    background-color:white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    padding-bottom: 30px;
}

.clear {
    clear:both;
}

.center {
     margin: 0 auto;
}

.w50 {
    width: 50%;
    border: 2px solid black;
}

.navbar-default {
    background-color:#41619D;
}

.navbar-default .navbar-nav li a{
    color:white;
    width: 120px;
}

 /*-- change navbar dropdown color --*/
  .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: white;
    color:black;
  }
   /*-- change navbar dropdown color --*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color:#D3D3D3;
}

.navbar-default .navbar-nav a:hover {
    font-weight: bold;
}

.navbar-default .navbar-brand {
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: white;
  cursor: default;
}

.pagetitle {
    text-shadow: 1px 1px 1px black;
    font-size: 3em;
    font-weight: bold;

}

.reportstable td{
    border: 2px solid black;
    padding: 10px;
}

.reportstable tr:nth-child(even) {background: #CCC}
.reportstable tr:nth-child(odd) {background: #FFF}
